//using scss
$short-header-height: 45px;
$header-height: 75px;
//TODO: add transition for height changing? maybe overkill

html{
/*********************************************************/
  //default font styling declared in index.html
  font-size: 17px;
  font-family: Roboto, Arial, Verdana, Geneva, sans-serif;
  font-weight: 300;

  letter-spacing: 0.02em;
  line-height: 1.4em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
/**********************************************************/

  p, li{
    color: #474747;
    font-weight: 300;
  }
  h1 {
    font-size: 2.7em;
    font-weight: 100;
    line-height: 1.4em;
  }
  h2 {
    font-size: 2em;
    font-weight: 100;
    line-height: 1.4em;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 300;
  }

  @media (min-width: 600px) {
    letter-spacing: 0.035em;
    font-size: 18px;
  }
  /*@media (min-width: 1100px) {
    font-size: 20px;
  }*/
}

body {
  margin: 0;
  width: 100%;
  background-color: #F6FBF9;
}

.r-header {
  display: inline-block; //display:block;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: $short-header-height;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.25);
  z-index: 1000;

  font-size: 1.1em;
  font-family: Roboto, Arial, sans-serif;

  .container {
    //position: fixed
    margin: 0 auto;
    //max-
  }

  .header {
    display: flex;
    align-items: center;

    min-width: 310px;
    height: $short-header-height;//## may make smaller
    line-height: $short-header-height;//##may make smaller
    //background: #4D4A50;
    position: relative;
    top: 0px;
    left: 0px;
    transition: all 0.4s ease;

    /*&.sticky {
      height: 80px;
      transition: all 0.4s ease;
    }*/

    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }

  .whatsMahName {
    display: none;
    flex-grow: 1;
  }

  .header-right {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 0 0 auto;
    font-size: 0.87em;
  }

  .section-link {
    padding: 0 10px;
    a {
      text-decoration: none;
      color: inherit;
      opacity: 0.5;
    }
  }
  @media (min-width: 480px) {
    .whatsMahName {
      display: block;
    }
  }
  @media (min-width: 800px) {
    .whatsMahName {
      //font-size: 1.00em;
    }

    .header-right {
      font-size: 0.95em;
    }
    .section-link {
      padding: 20px;
    }

    .header {
      width: 80%;
    }
  }

  @media (min-height: 600px) {
    & {
      height: $header-height;
    }
    .header {
      height: $header-height;
      line-height: $header-height;
    }
  }
}

.bg-image {
  display: block;
  background: url(../img/gake_new_lg.png) 50% 100% no-repeat fixed;
  //background-size: contain;
  background-position-x: 0;//keep left
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  overflow: hidden;
}

r-main {
  margin-top: $short-header-height;
  padding: 7%;
  display: flex;
  min-height: 50%;

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .pane {
    display: flex;
    justify-content: center;
  }
  .pane-home {
    display: block;

    .content {
      width: 100%;
    }
    .side-image img {
      width: 100%;
    }
  }

  .pane-skills {
    .content {
      width: 100%;
    }
    // explanation at top
    ul {
      list-style: none;
    }
    li {
      line-height: 1.8em;
    }
    .nb {
      font-size: 0.8em;
      color: #565656;
      padding: 0 20px 30px 20px;
    }
    // skill list
    r-skill div {
      opacity: 0.8;
    }
    .skill-container {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 5px;
    }
    .skill-name{
      flex-grow: 1;
    }
    .skill-level {
      margin: 0 0 0 auto;
    }

    // icons
    icon[class^="icon-"]:before{
      width: 1.4em;
      font-size: 0.8em;
    } 
  }

  .pane-likes {
    flex-direction: column;
    width: 100%;
    align-items: center;

    .grid-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;//for IE
    }

  //TODO: I really don't like how deeply nested these css rules are, need to flatten
    r-thing {
      display: flex;
      align-items: center;
      align-content: center;
      position: relative;
      width: 200px;
      height: 180px;
      padding: 15px;

      transition: all linear 0.2s;
      .img-container {
        display: inline-block;
        margin: auto;
      }
      img {
        width: 100%;
        position: relative;
        opacity: 1;
        transition: transform linear 0.1s;
      }
      .floating-text {
        position: absolute;
        left: 0;
        top: 2em;
        display: flex;
        flex-direction: column;
        background-color: rgba(158, 84, 6, 0.7);
        border-radius: 5px;
        width: 100%;
        height: auto;

        z-index: 100;

        opacity: 0;
        color: #FFF;
        font-family: 'Roboto Condensed';
      }
      span, p {
        padding: 5px 10px;
        margin: 0;
        font-weight: 400;
      }
      h3 {
        padding: 10px 7px;
        margin: 0 auto;
        font-weight: 400;
      }
      hr {
        border-style: solid;
        border-width: 1px;
        width: 90%;
        margin: 0 auto;
        transform: scale(0,1);
      }
      &:hover, &.selected{
        img {
          opacity: 0.7;
          //background-color: rgba(33, 33, 88, 0.3);
          //transform: perspective(1000px) translate3d(0, 0, 150px);
          transform: scale(1.2);
          transition: transform cubic-bezier(0.20, 0.90, 0.30, 1.25) 0.2s;
        }
        .floating-text{
          transform: translate3d(0,0,0);
          opacity: 1;

          transition: transform cubic-bezier(0.20, 0.90, 0.30, 1.25) 0.2s;
          transition: opacity linear 0.3s;
        }
        span, p {
        }
        hr {
          transform: scale(1,1);
          transition: transform ease-in 0.4s;
        }
      }
    }
  }

  .pane-contact {
    display: block;
    text-align: center;

    img.self {
      width: 100%;
    }
  }

  @media (min-width: 400px) {
    .pane-home .side-image {
      min-width: 360px;
      img{
        width: initial;
        min-width: 360px;
      }
    }
    .pane-contact img.self {
      max-width: 300px;
    }
  }
  @media (min-width: 700px) {
    .pane-skills .skill-list{
      width: 500px;
      margin: 0 auto;
    }
    .pane-contact {
      display: flex;
    }
  }
  @media (min-width: 900px) {
    .pane-home {
      display: flex;
    }
    .pane-skills .content{
      width: 900px;
    }
  }
  @media (min-width: 1400px) {
    .container {
      width: 1300px;
    }
  }

  @media (min-height: 600px) {
    r-main {
      margin-top: $header-height;
    }
  }
}

.footer {
  position: static;
  display: flex;
  bottom: 0;
  width: 100%;
  //height: 2em;
  span {
    margin: 0 3% 0 auto;
    font-size: 0.8em;
    opacity: 0.7;
  }
}

icon[class^="icon-"]:before{
  width: 1.5em;
  font-size: 0.97em;
  color: #191919;
}

.hidden {
  display: none !important;
}

monospace {
  font-family: "Lucida Console", Monaco, monospace, Courier, "Courier New" !important;
  font-size: 0.8em;
}