body {
  margin: 0;
  width: 100%;
  height: 100%;
}

r-header >div {
  width: 100%;
  
  font-size: 36px;
  height: 55px;
  line-height: 55px;
  background: #4D4A50;
  position: fixed;
  top: 0px;
  left: 0px;
  transition: all 0.4s ease;
}

r-header >div.sticky {
  padding-left: 20px;
  transition: all 0.4s ease;
}

r-backdrop {
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
  z-index: -100;
  background-color: #02336F;
}

.backdrop {
  display: block;
  background: url(../img/gake_new_lg.png) no-repeat fixed;
  background-size: contain;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  overflow: hidden;
}

star {
  position: fixed;
  height: 8px;
  width: 8px;
  z-index: -200;
  background-color: #CFEEF0;
}

.star-sm {
  @extend star;
}

@mixin shooting-star($name, $duration) {
  animation: $name $duration linear 0s infinite;
}

.star-md {
  @extend star;
  height: 12px;
  width: 12px;
  &.star1 { @include shooting-star(shooting-star1, 15s)}
  &.star2 { @include shooting-star(shooting-star2, 18s)}
  &.star3 { @include shooting-star(shooting-star3, 17s)}
  &.star4 { @include shooting-star(shooting-star1, 21s)}
  &.star5 { @include shooting-star(shooting-star2, 11s)}
  &.star6 { @include shooting-star(shooting-star3, 11s)}
}

@keyframes shooting-star1 {
    0% { top: -5%; left: -30%;}
    100% { top: 500%; left: 600%;}
}

@keyframes shooting-star2 {
    0% { top: -180%; left: -200%;}
    100% { top: 200%; left: 300%;}
}

@keyframes shooting-star3 {
    0% { top: -70%; left: -50%;}
    100% { top: 400%; left: 250%;}
}

.group {
  list-style: none;
}

.tab-item {
  display: flex;
  align-items: stretch;
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(211,190,197,0.4);
  border-radius: 3px;
  width: 300px;
  height: 400px;
}

.editable-div {
  flex-grow: 1;
}

.drag-handle {
  padding-right: 10px;
}

.content {
  @media (min-width: 800px) {
    float: left;
    width: 60%;
  }
}

.hidden {
  display: none;
}