body {
  margin: 0;
  width: 100%;
  height: 100%; }

r-header > div {
  width: 100%;
  font-size: 36px;
  height: 55px;
  line-height: 55px;
  background: #4D4A50;
  position: fixed;
  top: 0px;
  left: 0px;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease; }

r-header > div.sticky {
  padding-left: 20px;
  -webkit-transition: all 0.4s ease;
          transition: all 0.4s ease; }

r-bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  display: block;
  z-index: -300;
  background-color: #02336F; }

.bg-stars {
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
  z-index: -200; }

@-webkit-keyframes scroll {
  0% {
    left: -100px; }
  100% {
    left: 3000px; } }

@keyframes scroll {
  0% {
    left: -100px; }
  100% {
    left: 3000px; } }

.bg-image {
  display: block;
  background: url(../img/gake_new_lg.png) 50% 100% no-repeat fixed;
  background-size: contain;
  background-position-x: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -100;
  overflow: hidden; }

star, .star-sm, .star-md {
  position: absolute;
  height: 8px;
  width: 8px;
  background-color: #CFEEF0; }

.star-sm {
  -webkit-animation: scroll 20s linear 0s infinite;
          animation: scroll 20s linear 0s infinite; }

.star-md {
  height: 12px;
  width: 12px;
  background-color: #FF8F05; }
  .star-md.star1 {
    -webkit-animation: shooting-star1 9s linear 0s infinite;
            animation: shooting-star1 9s linear 0s infinite; }
  .star-md.star2 {
    -webkit-animation: shooting-star2 17s linear 0s infinite;
            animation: shooting-star2 17s linear 0s infinite; }
  .star-md.star3 {
    -webkit-animation: shooting-star3 16s linear 0s infinite;
            animation: shooting-star3 16s linear 0s infinite; }
  .star-md.star4 {
    -webkit-animation: shooting-star1 16s linear 0s infinite;
            animation: shooting-star1 16s linear 0s infinite; }
  .star-md.star5 {
    -webkit-animation: shooting-star2 10s linear 0s infinite;
            animation: shooting-star2 10s linear 0s infinite; }
  .star-md.star6 {
    -webkit-animation: shooting-star3 11s linear 0s infinite;
            animation: shooting-star3 11s linear 0s infinite; }

@-webkit-keyframes shooting-star1 {
  0% {
    top: -5%;
    left: -30%; }
  100% {
    top: 500%;
    left: 600%; } }

@keyframes shooting-star1 {
  0% {
    top: -5%;
    left: -30%; }
  100% {
    top: 500%;
    left: 600%; } }

@-webkit-keyframes shooting-star2 {
  0% {
    top: -180%;
    left: -200%; }
  100% {
    top: 200%;
    left: 300%; } }

@keyframes shooting-star2 {
  0% {
    top: -180%;
    left: -200%; }
  100% {
    top: 200%;
    left: 300%; } }

@-webkit-keyframes shooting-star3 {
  0% {
    top: -70%;
    left: -50%; }
  100% {
    top: 400%;
    left: 250%; } }

@keyframes shooting-star3 {
  0% {
    top: -70%;
    left: -50%; }
  100% {
    top: 400%;
    left: 250%; } }

.group {
  list-style: none; }

.tab-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 10px 20px;
  margin: 5px;
  background-color: rgba(211, 190, 197, 0.4);
  border-radius: 3px;
  width: 100px;
  height: 400px; }

.editable-div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.drag-handle {
  padding-right: 10px; }

@media (min-width: 800px) {
  .content {
    float: left;
    width: 60%; } }

.hidden {
  display: none; }
